.image{
    height: 60em;
    background-size:cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    width:auto;
    background-image:url('../../images/bg.jpg');
    background-position:50% 50%;
  }

